<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>SoCraTes Crete</h2>
		<p>An Open Space Unconference<br /> about the craft <br /> of making software<br> <h3>24 - 27 Oct 2025</h3></p>
		<ul class="actions">
			<li><a href="https://forms.zohopublic.eu/socratescrete/form/Newsletter/formperma/_Opjp5lY-xBvtZDmen3iMj-bAx2EzEXDE70zsCOINgo" class="button special" target="_blank">Keep me up to date</a></li>
		</ul>
	</div>
	<a href="#three" class="more scrolly">Learn More</a>
</section>
