<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ "" | absolute_url }}/">SoCraTes Crete</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							{% for page in site.pages %} {% if page.layout == "default" %}
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
							{% for page in site.pages %} {% if page.layout == "page" or page.layout == "harvests" or page.layout == "orgteam" %}
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
							{% for page in site.posts %} {% if page.layout != "redirect" %} 
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
							<li><a href="https://opencollective.com/software-makers" target="_blank">The Software Makers Non-Profit</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
