<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include head.html %}

<body>
    {% include header.html %}

    <!-- Main -->
    <article id="main">
        <header{% if page.image %} style="background-image: url('{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}');"{% endif %}>
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                <h4>SoCraTes Crete 2024 Harvests</h4>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        {% assign harvests = site.static_files | where_exp: "item", "item.path contains '/assets/images/harvests/2024'" %}
                        {% for harvest in harvests %}
                            <div class="col-4">
                                <span class="image fit">
                                    <img src="{{ harvest.path | absolute_url }}" alt="">
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <h4>SoCraTes Crete 2023 Harvests</h4>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        {% assign harvests = site.static_files | where_exp: "item", "item.path contains '/assets/images/harvests/2023'" %}
                        {% for harvest in harvests %}
                            <div class="col-4">
                                <span class="image fit">
                                    <img src="{{ harvest.path | absolute_url }}" alt="">
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </section>
    </article>

    {% include footer.html %}

</body>

</html>
