<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include head.html %}

<body class="landing">
{% include header.html %}

<!-- Four -->
<section id="four" class="wrapper style1 special">
	<div>
		<header class="major">
			<h2>
				Org Team - SoCraTes Crete 2024
			</h2>
			<p>Here are the volunteers making SoCraTes Crete 2024 possible:</p>
		</header>
		<ul class="icons major participants">
			{% for organiser in site.orgteam %}
				{% if organiser.full_name == null %}
    				{% continue %}
				{% endif %}
				<li>
					<div class="image">
						{% if organiser.image != null %}
							{% assign imagePrefix = organiser.image | slice: 0,8 %}
							<div class="icon major style2">
								{% if imagePrefix contains "http://" or imagePrefix contains "https://" %}
									<img  src="{{ organiser.image }}" alt=""/>
								{% else %}
									<img class="participant-picture" src="{{ '/assets/images/orgteam/2024/' | append: organiser.image | absolute_url }}" alt=""/>
								{% endif %}
							</div>
						{% else %}
							<span class="icon fa-user major style2"></span>
						{% endif %}
					</div>
					<div class="meta">
						{{ organiser.full_name }}<br>
						{% if organiser.website != null %}
							<a href="{{ organiser.website }}" class="fa fa-home" target="_blank"></a>
						{% endif %}

						{% if organiser.linkedin != null %}
							<a href="{{ organiser.linkedin }}" class="fa fa-linkedin" target="_blank"></a>
						{% endif %}
						{% if organiser.twitter != null %}
							<a href="{{ organiser.twitter }}" class="fa fa-twitter" target="_blank"></a>
						{% endif %}
						{% if organiser.mastodon != null %}
							<a href="{{ organiser.mastodon }}" class="fab fab-mastodon" target="_blank"></a>
						{% endif %}
						{% if organiser.facebook != null %}
							<a href="{{ organiser.facebook }}" class="fa fa-facebook-official" target="_blank"></a>
						{% endif %}
						{% if organiser.github != null %}
							<a href="{{ organiser.github }}" class="fa fa-github" target="_blank"></a>
						{% endif %}
						{% if organiser.gitlab != null %}
							<a href="{{ organiser.gitlab }}" class="fa fa-gitlab" target="_blank"></a>
						{% endif %}
					</div>
					{% if organiser.quote != null %}
					<div class="meta organiser-quote">
							{{ organiser.quote }}<br>
					</div>
					{% endif %}

				</li>
			{% endfor %}
	 	</ul>
	</li>

	</div>
</section>

<style type="text/css">
	.participants li{
		vertical-align: top;
		margin-bottom: 40px;
		width: 450px;
	}
	.participants li.add{
		margin-top: -5px;
	}
	.participants li a{
		border-bottom: none;
	}
	.participants li.add .meta{
		margin-top: 5px;
	}
	.participants li .meta{
		font-size: 1.2em;
	}
	.participants .image{
		margin: 30px;
	}
	.participants .add .image{
		margin: 35px;
	}
	.participants .icon.major {
		font-size: 2.75em;
		display:inline-block;
		overflow:hidden;
	}
	.participants .icon.major img{

		transform: rotate(45deg);
		object-fit: cover;
		width: 150%;
		margin-left:-40px;
		margin-top:-40px;
	}
</style>


{% include footer.html %}

<style type="text/css">
    img :not(participant-picture){
        max-width: 100%;
    }

		.organiser-quote {
			font-size: 0.8em !important;
			line-height: 1.6; /* Improved readability */
			background-color: #333; /* Darker background */
			color: #fff; /* White text */
			padding: 20px;
			border-radius: 10px;
			border: 2px solid #444; /* Slightly lighter border */
			box-shadow: 0 4px 8px rgba(0,0,0,0.2);
			margin-top: 20px;
		}
</style>

</body>

</html>
